googletest/

build/
cmake-build-*/
out/
Testing/

bin/
lib/
*.exe
*.out
*.app

*.o
*.obj

*.a
*.so
*.dylib
*.lib
*.dll

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.ninja
.ninja_deps
.ninja_log

.vscode/
.idea/
*.swp
*.swo
*~